* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b3b3b3;
    font-family: sans-serif ;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.caixa {
    width: 420px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 100px;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 0 10px 30px 10px;
}

.titulo {
    padding-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dig-tarefa {
    background-color: transparent;
    color: #000;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.botao {
    width: 25px;
    background-color: #000;
    color: #fff;
    padding: 5px 8px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.botao:hover {
    background-color: #242424;
    transition: 0.5s;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    border: 1px solid #000;
    width: 100%;
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
}

span {
    cursor: pointer;
}