* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url("./img/6e16db2add718165828197650335205b.jpg");
    background-size: cover;
    color: #fff;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.caixa {
    background: #ffffff48;
    margin: auto;
    width: 40vw;
    height:90vh;
    margin-top: 30px;
    border: 3px solid #8f8f8f;
    border-radius: 20px;
    backdrop-filter: blur(4px);
    padding: 0 10px 30px 10px;
    overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

.titulo {
    padding-top: 20px;
    color: #2b2b2b;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dig-tarefa {
    background-color: transparent;
    color: #000000;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #000000;
}

.dig-tarefa::placeholder {
    color: #2b2b2b;
}

.botao {
    width: 25px;
    background-color:  #000000;
    color: #ffffff;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.botao:hover {
    background-color:  rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px 10px 10px 20px;

    width: 100%;
    color: #1b1b1b;
    max-width: 300px;
    border: 2px solid #0000009f;
    background-color: #8f8f8f94;
    border-radius: 8px;
}

.checkbox {
    cursor: pointer;
}

span {
    cursor: pointer;
    color: #200101;
}