@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: #000114;
    color: #fff;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.caixa {
    background: transparent;
    margin: auto;
    margin-top: 100px;
    width: 90vw;
    height: 90vh;
    margin: auto;
    margin-top: 30px;
    border: 3px solid #00B4FF;
    box-shadow:
        0 0 10px #00B4FF,
        0 0 25px rgba(0, 180, 255, 0.6),
        inset 0 0 15px rgba(0, 180, 255, 0.3);

    backdrop-filter: blur(4px);
    padding: 0 10px 30px 10px;
    overflow-y: auto;
}

.titulo {
    padding-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.dig-tarefa {
    background-color: transparent;
    color: #ffffff;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #00B4FF;
}

.botao {
    width: 25px;
    background-color:  #00B4FF;
    color: #000000;
    padding: 5px 8px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.botao:hover {
    background-color:  rgba(0, 180, 255, 0.6);
    transition: 0.5s;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px 10px 10px 20px;

    width: 100%;
    max-width: 300px;
    border: 1px solid #00B4FF;
    border-radius: 8px;
    box-shadow:
        0 0 5px #00B4FF,
        0 0 20px rgba(0, 180, 255, 0.6),
        inset 0 0 15px rgba(0, 180, 255, 0.3);
}

.checkbox {
    cursor: pointer;
}

span {
    cursor: pointer;
}